.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
}

.forecastCard{
    width: 15rem; 
    background-color: blue; 
    color: white; 
    float: left;
    margin-right: 5px; 
    margin-bottom: 10px;
}

.main-body-card h4, 
.main-body-card img{
    display:inline-block;
    vertical-align:middle;
}

.titleIcon {
    max-width: 50px; 
    height: auto; 
    margin-bottom: 12px;
}

.navbar{
    height: 75px; 
}

.navbar h3{
    color: white; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.searchBarGroup{
    margin-top: 10px; 
}

.search-history{
    width: 14rem; 
}

.forecastTitle h3{
    margin-top: 20px; 
    margin-bottom: 20px; 
}


.UV-favorable{
    background-color: green;
    padding: 5px; 
    color: white
}

.UV-moderate{
    background-color: orange;
    padding: 5px; 
    color: white
}

.UV-severe{
    background-color: red;
    padding: 5px; 
    color: white
}

.main-card{
    width: 100%; 
}